In [3]:
# Data provided by Redfin, a national real estate brokerage
import pandas as pd

In [4]:
# Store filepath in a variable
raw_data = "Resources/weekly_housing_market_rawdata_10.10.2020.csv"

# Read our Data file with the pandas library
raw_data_df = pd.read_csv(raw_data, encoding="utf-8")
raw_data_df.head()

/Users/lmm/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,5,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,region_id,region_type_id,region_name,region_type,period_begin,period_end,duration,total_homes_sold,total_homes_sold_yoy,average_homes_sold,...,median_days_on_market_yoy,pending_sales_to_sales_ratio,pending_sales_to_sales_ratio_yoy,months_of_supply,months_of_supply_yoy,average_pending_sales_listing_updates,average_pending_sales_listing_updates_yoy,percent_total_price_drops_of_inventory,percent_total_price_drops_of_inventory_yoy,last_updated
0,525.0,5.0,"Carroll County, GA",county,1/8/18,1/14/18,1 weeks,19.0,0.187500,19.0,...,-20.0,NaN,NaN,20.000000,-7.250000,40.0,0.481481,0.048851,0.007488,9/30/20 14:35
1,525.0,5.0,"Carroll County, GA",county,1/29/18,2/4/18,1 weeks,30.0,0.363636,30.0,...,23.5,NaN,NaN,12.300000,-7.381818,53.0,0.261905,0.028037,0.000330,9/30/20 14:35
2,525.0,5.0,"Carroll County, GA",county,6/29/20,7/5/20,1 weeks,46.0,1.190476,46.0,...,-19.0,NaN,NaN,8.152174,-10.943064,53.0,0.358974,0.039275,0.000601,9/30/20 14:35
3,267.0,5.0,"Lincoln County, AR",county,2/19/18,2/25/18,1 weeks,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.166667,-0.033333,9/30/20 14:35
4,3215.0,5.0,"Richland County, WI",county,6/1/20,6/7/20,1 weeks,1.0,-0.666667,1.0,...,-79.0,NaN,NaN,55.000000,27.000000,3.0,-0.500000,0.018868,-0.018632,9/30/20 14:35

In [5]:
# Show just the header
len(raw_data_df)

918835

In [6]:
raw_data_df.columns

Index(['region_id', 'region_type_id', 'region_name', 'region_type',
       'period_begin', 'period_end', 'duration', 'total_homes_sold',
       'total_homes_sold_yoy', 'average_homes_sold', 'average_homes_sold_yoy',
       'total_homes_sold_with_price_drops',
       'total_homes_sold_with_price_drops_yoy',
       'average_homes_sold_with_price_drops',
       'average_homes_sold_with_price_drops_yoy',
       'percent_homes_sold_with_price_drops',
       'percent_homes_sold_with_price_drops_yoy', 'median_sale_price',
       'median_sale_price_yoy', 'median_sale_ppsf', 'median_sale_ppsf_yoy',
       'median_days_to_close', 'median_days_to_close_yoy', 'price_drops',
       'price_drops_yoy', 'percent_active_listings_with_price_drops',
       'percent_active_listings_with_price_drops_yoy', 'pending_sales',
       'pending_sales_yoy', 'median_pending_sqft', 'median_pending_sqft_yoy',
       'off_market_in_two_weeks', 'off_market_in_two_weeks_yoy',
       'percent_off_market_in_two_weeks',
       'percent_off_market_in_two_weeks_yoy', 'total_new_listings',
       'total_new_listings_yoy', 'average_new_listings',
       'average_new_listings_yoy', 'median_new_listing_price',
       'median_new_listing_price_yoy', 'median_new_listing_ppsf',
       'median_new_listing_ppsf_yoy', 'inventory', 'inventory_yoy',
       'total_active_listings', 'total_active_listings_yoy', 'active_listings',
       'active_listings_yoy', 'age_of_inventory', 'age_of_inventory_yoy',
       'homes_delisted', 'homes_delisted_yoy',
       'percent_active_listings_delisted',
       'percent_active_listings_delisted_yoy', 'median_active_list_price',
       'median_active_list_price_yoy', 'median_active_list_ppsf',
       'median_active_list_ppsf_yoy', 'average_of_median_list_price_amount',
       'average_of_median_list_price_amount_yoy',
       'average_of_median_offer_price_amount',
       'average_of_median_offer_price_amount_yoy', 'avg_offer_to_list',
       'avg_offer_to_list_yoy', 'average_sale_to_list_ratio',
       'average_sale_to_list_ratio_yoy', 'median_days_on_market',
       'median_days_on_market_yoy', 'pending_sales_to_sales_ratio',
       'pending_sales_to_sales_ratio_yoy', 'months_of_supply',
       'months_of_supply_yoy', 'average_pending_sales_listing_updates',
       'average_pending_sales_listing_updates_yoy',
       'percent_total_price_drops_of_inventory',
       'percent_total_price_drops_of_inventory_yoy', 'last_updated'],
      dtype='object')

In [7]:
columns1=[
    "region_name", 
    "region_type", 
    "period_begin", 
    "period_end",
    "total_homes_sold", 
    "total_new_listings", 
    "total_active_listings",
    "median_days_on_market",
    "months_of_supply",
    "age_of_inventory"]

weekly_df=raw_data_df.loc[raw_data_df["duration"] == "1 weeks",columns1]
weekly_df.head()

,region_name,region_type,period_begin,period_end,total_homes_sold,total_new_listings,total_active_listings,median_days_on_market,months_of_supply,age_of_inventory
0,"Carroll County, GA",county,1/8/18,1/14/18,19.0,25.0,380.0,28.0,20.000000,73.0
1,"Carroll County, GA",county,1/29/18,2/4/18,30.0,44.0,369.0,80.5,12.300000,74.0
2,"Carroll County, GA",county,6/29/20,7/5/20,46.0,48.0,375.0,23.0,8.152174,50.0
3,"Lincoln County, AR",county,2/19/18,2/25/18,NaN,NaN,6.0,NaN,NaN,130.0
4,"Richland County, WI",county,6/1/20,6/7/20,1.0,3.0,55.0,43.0,55.000000,90.0

In [8]:
len(weekly_df)

313531

In [9]:
weekly_df.dtypes

region_name               object
region_type               object
period_begin              object
period_end                object
total_homes_sold         float64
total_new_listings       float64
total_active_listings    float64
median_days_on_market    float64
months_of_supply         float64
age_of_inventory         float64
dtype: object

In [10]:
#start a new DataFrame to cleanup
clean_df=weekly_df

#break out period_begin into month, day, year
clean_df[['month','day','year']] = clean_df.period_begin.str.split("/",expand=True)

#add leading 20 to year
clean_df['year'] ='20' + clean_df['year']

#replace month number with month name
clean_df['month']=clean_df['month'].replace(
    {'1':'M01',
    '2':'M02',
    '3':'M03',
    '4':'M04',
    '5':'M05',
    '6':'M06',
    '7':'M07',
    '8':'M08',
    '9':'M09',
    '10':'M10',
    '11':'M11',
    '12':'M12'})

#merge month and year for grouping
clean_df['month_year'] =clean_df['month'].astype(str) + " "+ clean_df['year']
clean_df.head()

,region_name,region_type,period_begin,period_end,total_homes_sold,total_new_listings,total_active_listings,median_days_on_market,months_of_supply,age_of_inventory,month,day,year,month_year
0,"Carroll County, GA",county,1/8/18,1/14/18,19.0,25.0,380.0,28.0,20.000000,73.0,M01,8,2018,M01 2018
1,"Carroll County, GA",county,1/29/18,2/4/18,30.0,44.0,369.0,80.5,12.300000,74.0,M01,29,2018,M01 2018
2,"Carroll County, GA",county,6/29/20,7/5/20,46.0,48.0,375.0,23.0,8.152174,50.0,M06,29,2020,M06 2020
3,"Lincoln County, AR",county,2/19/18,2/25/18,NaN,NaN,6.0,NaN,NaN,130.0,M02,19,2018,M02 2018
4,"Richland County, WI",county,6/1/20,6/7/20,1.0,3.0,55.0,43.0,55.000000,90.0,M06,1,2020,M06 2020

In [11]:
#break out region_name into city, and state
clean_df[['region','state']] = clean_df.region_name.str.split(", ",expand=True)

#only take first two characters of state
clean_df['state'] = clean_df['state'].str[:2]
clean_df.head()

,region_name,region_type,period_begin,period_end,total_homes_sold,total_new_listings,total_active_listings,median_days_on_market,months_of_supply,age_of_inventory,month,day,year,month_year,region,state
0,"Carroll County, GA",county,1/8/18,1/14/18,19.0,25.0,380.0,28.0,20.000000,73.0,M01,8,2018,M01 2018,Carroll County,GA
1,"Carroll County, GA",county,1/29/18,2/4/18,30.0,44.0,369.0,80.5,12.300000,74.0,M01,29,2018,M01 2018,Carroll County,GA
2,"Carroll County, GA",county,6/29/20,7/5/20,46.0,48.0,375.0,23.0,8.152174,50.0,M06,29,2020,M06 2020,Carroll County,GA
3,"Lincoln County, AR",county,2/19/18,2/25/18,NaN,NaN,6.0,NaN,NaN,130.0,M02,19,2018,M02 2018,Lincoln County,AR
4,"Richland County, WI",county,6/1/20,6/7/20,1.0,3.0,55.0,43.0,55.000000,90.0,M06,1,2020,M06 2020,Richland County,WI

In [12]:
clean_df.year.value_counts()

2018    83486
2019    82038
2017    81754
2020    59767
Name: year, dtype: int64

In [13]:
# We want to separate out RedFin data that will be summed when grouped
sum_re_df = clean_df[["month", "year","month_year","region", "state",
                            "total_homes_sold", "total_new_listings", "total_active_listings"]]
sum_re_df.head()

,month,year,month_year,region,state,total_homes_sold,total_new_listings,total_active_listings
0,M01,2018,M01 2018,Carroll County,GA,19.0,25.0,380.0
1,M01,2018,M01 2018,Carroll County,GA,30.0,44.0,369.0
2,M06,2020,M06 2020,Carroll County,GA,46.0,48.0,375.0
3,M02,2018,M02 2018,Lincoln County,AR,NaN,NaN,6.0
4,M06,2020,M06 2020,Richland County,WI,1.0,3.0,55.0

In [14]:
# Using GroupBy in order to separate the data into fields according to "month_year" values
grouped_sum_df = sum_re_df.groupby(['month_year'])
grouped_sum_df.sum().head()

            total_homes_sold  total_new_listings  total_active_listings
month_year
M01 2017            656623.0            974062.0             13523169.0
M01 2018            651408.0            957395.0             12511948.0
M01 2019            510974.0            817356.0             10703226.0
M01 2020            566944.0            811803.0              9526700.0
M02 2017            619998.0            952188.0             11236227.0

In [15]:
# We want to separate out RedFin data that will be averaged when grouped
avg_re_df=clean_df[["month", "year","month_year","region", "state",
                            "median_days_on_market","months_of_supply","age_of_inventory"]]
avg_re_df.head()

,month,year,month_year,region,state,median_days_on_market,months_of_supply,age_of_inventory
0,M01,2018,M01 2018,Carroll County,GA,28.0,20.000000,73.0
1,M01,2018,M01 2018,Carroll County,GA,80.5,12.300000,74.0
2,M06,2020,M06 2020,Carroll County,GA,23.0,8.152174,50.0
3,M02,2018,M02 2018,Lincoln County,AR,NaN,NaN,130.0
4,M06,2020,M06 2020,Richland County,WI,43.0,55.000000,90.0

In [16]:
# Using GroupBy in order to separate the data into fields according to "month_year" values
grouped_avg_df = avg_re_df.groupby(['month_year'])
grouped_avg_df.mean().head()

            median_days_on_market  months_of_supply  age_of_inventory
month_year
M01 2017               105.204660         30.797668        108.364519
M01 2018                95.320226         28.168601        101.928917
M01 2019                89.567939         29.809561         99.463022
M01 2020                82.220063         24.389716         96.971046
M02 2017               110.574817         29.166050        101.287855

In [17]:
# Merge two dataframes using an inner join
real_estate_df = pd.merge(grouped_avg_df.mean(), grouped_sum_df.sum(), on="month_year")
real_estate_df

,median_days_on_market,months_of_supply,age_of_inventory,total_homes_sold,total_new_listings,total_active_listings
month_year,,,,,,
M01 2017,105.204660,30.797668,108.364519,656623.0,974062.0,13523169.0
M01 2018,95.320226,28.168601,101.928917,651408.0,957395.0,12511948.0
M01 2019,89.567939,29.809561,99.463022,510974.0,817356.0,10703226.0
M01 2020,82.220063,24.389716,96.971046,566944.0,811803.0,9526700.0
M02 2017,110.574817,29.166050,101.287855,619998.0,952188.0,11236227.0
M02 2018,96.505060,25.349060,94.603347,632056.0,946712.0,10375309.0
M02 2019,88.646316,25.567175,95.472900,621236.0,903999.0,11010294.0
M02 2020,80.752961,23.026829,89.648961,651412.0,927394.0,9739917.0
M03 2017,99.272100,24.563856,84.504757,756897.0,1064691.0,11673512.0
M03 2018,88.975022,22.020609,79.118643,753371.0,1030870.0,10845258.0
M03 2019,79.913546,22.095421,82.525191,739029.0,1050478.0,11373097.0
M03 2020,73.561400,20.188524,73.131064,908937.0,1159537.0,12590108.0
M04 2017,91.290331,22.325610,71.847317,821870.0,1119579.0,12065236.0
M04 2018,78.166366,20.516101,66.500254,1027091.0,1505025.0,14319696.0
M04 2019,71.311378,21.976770,67.545138,1009709.0,1491522.0,14962198.0
M04 2020,66.277072,20.719442,73.500950,647565.0,696526.0,9825523.0
M05 2017,81.905214,21.465254,64.850737,1104646.0,1452762.0,15778323.0
M05 2018,68.925167,18.910413,59.865683,925689.0,1173670.0,12127304.0
M05 2019,61.568493,19.482585,58.915586,909268.0,1145154.0,12400304.0
M05 2020,63.926021,20.550200,73.929094,630269.0,933302.0,9958198.0
M06 2017,75.488430,20.132215,64.574777,995792.0,1116247.0,12900227.0
M06 2018,64.781810,19.063485,59.263840,1005546.0,1155342.0,12482033.0
M06 2019,57.810834,18.546245,58.629600,995007.0,1141141.0,12731470.0
M06 2020,64.228183,16.208098,65.543251,1053484.0,1308226.0,12430208.0
M07 2017,73.839714,22.144113,67.944148,1092120.0,1285323.0,16214266.0
M07 2018,62.098594,20.065399,62.772871,1117689.0,1331886.0,15798709.0
M07 2019,55.429811,19.806849,62.379332,1120034.0,1276228.0,15883624.0
M07 2020,55.957447,12.817610,58.175482,1018950.0,1084478.0,9595689.0
M08 2017,75.213192,20.671792,71.653516,902081.0,936596.0,12856535.0
M08 2018,67.286326,19.437898,66.791806,904926.0,973985.0,12691632.0
M08 2019,58.679248,19.367991,66.055265,913519.0,949542.0,12467414.0
M08 2020,53.094595,11.942378,54.078259,1244631.0,1302692.0,11408048.0
M09 2017,78.794397,23.948609,76.113644,803265.0,888446.0,12605948.0
M09 2018,69.833134,21.709070,71.346830,799435.0,942241.0,12695679.0
M09 2019,61.675445,20.536833,69.467440,1000000.0,1190227.0,15356663.0
M09 2020,49.197354,13.700944,52.344196,634990.0,738716.0,6541524.0
M10 2017,84.667334,22.936738,81.125938,950410.0,1061119.0,15367019.0
M10 2018,71.731663,21.934328,76.064385,926960.0,1098790.0,15770722.0
M10 2019,62.248380,20.058660,73.466016,788437.0,843635.0,11982380.0
M11 2017,80.639559,23.149206,87.367365,737351.0,666978.0,11565497.0
M11 2018,74.131949,23.645139,83.006971,696306.0,669482.0,12077450.0
M11 2019,66.521416,21.089363,79.728496,717701.0,656825.0,11233766.0
M12 2017,84.634689,21.350072,96.268692,743961.0,480772.0,10480656.0
M12 2018,81.494022,26.011728,94.193266,777900.0,634315.0,13665053.0
M12 2019,69.105746,21.742407,91.266684,868119.0,602929.0,12388672.0